<h1 style="color:yellow">Cinepólis</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            Nombre: <input type="text" [(ngModel)]="nombre" name="nombre"><br>
            <br>
            
            Cantidad de Compradores: <input type="text" [(ngModel)]="compradores" name="compradores"><br>
            <br>
           
            Número de boletos: <input type="text" [(ngModel)]="boletos" name="boletos"><br>
            <br>
            
            Tarjeta: 
            <br>
            <input type="radio" value="si" name="tarjeta" [(ngModel)]="tarjeta">Sí
            <input type="radio" value="no" name="tarjeta" [(ngModel)]="tarjeta">No
    
            <br>
            <br>
            <button type="button"  (click)="Calcular()">Calcular</button>
            <br>
            <hr>
            <br>
            <h1>{{prueba}}</h1>
           
        </div>
        <div class="col-sm-6">
            <h1 align="right">Costo de boleto: $12.00</h1>
            <h3 align="right" >Cantidad máxima de boletos por persona: 7 boletos</h3>
            <h3 align="right">Si pagas con tu tarjeta Club Cinepólis tienes un 10% de descuento adicional en cualquiera de tus compras</h3>
            <br>
            <br>
            <br>
            <hr>
        </div>
       
    </div>
    
</div>
